<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="script-src none">
    <meta charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            letter-spacing: .01rem;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            line-height: 1.5;
            color: #333332;
        }

        sha {
            font-family: Consolas, "Liberation Mono", Courier, monospace;
            color: #4183c4;

            margin: 2px;
            padding: 3px;
            border: 1px solid #ddd;
            background-color: #f8f8f8;
            border-radius: 3px;
            font-size: 20px;
        }

        ul { list-style-type: none;}

        li { padding: 5px; padding-left: 20px;}

        li:nth-child(even) { background-color: #ffffff; }
        li:nth-child(odd)  { background-color: #eeeeee;}

        a { text-decoration: none; color: #555; }
    </style>

</head>
<body>

<ul>
    {{#transactions}}
    <li>Sent ${{amount}} USD ({{amountInBTC}} BTC) to <a href="https://github.com/{{destination}}" target="_blank">{{destination}}</a> for <a href="{{commitUrl}}" target="_blank"><sha>{{commitSha}}</sha></a> {{timestamp}}.</li>
    {{/transactions}}
</ul>

</body>
</html>
